.w-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.w-text-container {
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 40px 10px 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
}

.w-title {
  font-size: 24px;
  color: #6c757d;
  margin-bottom: 10px;
}

.w-heading {
  font-size: 36px;
  color: #28a745;
  margin-bottom: 20px;
}

.w-description {
  font-size: 17px;
  color: #343a40;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  font-style: italic;
}

.w-features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.w-features-list li {
  font-size: 16px;
  font-weight: 500;
  color: #6e7277;
  margin: 5px 0;
}

.w-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.w-button:hover {
  background-color: #218838;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .w-title {
    font-size: 20px; /* Smaller title font size on tablets */
  }

  .w-heading {
    font-size: 28px;
  }

  .w-button {
    font-size: 14px;
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .w-title {
    font-size: 18px; /* Even smaller title font size on mobile */
  }

  .w-heading {
    font-size: 24px;
  }
  .w-description {
    font-size: 14px;
  }

  .w-button {
    font-size: 12px;
    padding: 6px 12px; /* Adjust padding for mobile */
  }

  .w-main-container {
    padding: 10px; /* Less padding for mobile */
  }
}
